<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.procrastination.tracker.android">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  <!-- OPTIONAL PERMISSIONS, REMOVE WHATEVER YOU DO NOT NEED -->
  <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> -->
  <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->
  <!-- <uses-permission android:name="android.permission.USE_FINGERPRINT"/> -->
  <!-- <uses-permission android:name="android.permission.USE_BIOMETRIC"/> -->
  <!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/> -->
  <!-- These require runtime permissions on M -->
  <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
  <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->
  <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/> -->
  <!-- <uses-permission android:name="android.permission.CAMERA"/> -->
  <!-- <uses-permission android:name="android.permission.RECORD_AUDIO"/> -->
  <!-- <uses-permission android:name="android.permission.READ_CONTACTS"/> -->
  <!-- <uses-permission android:name="android.permission.WRITE_CONTACTS"/> -->
  <!-- <uses-permission android:name="android.permission.READ_CALENDAR"/> -->
  <!-- <uses-permission android:name="android.permission.WRITE_CALENDAR"/> -->
  <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
  <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
  <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS"/> -->
  <!-- END OPTIONAL PERMISSIONS -->
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="false" android:theme="@style/AppTheme">
    <!-- Change the value to true to enable pop-up for in foreground on receiving remote notifications (for prevent duplicating while showing local notifications set this to false) -->
    <meta-data android:name="com.dieam.reactnativepushnotification.notification_foreground" android:value="false"/>
    <!-- Change the resource name to your App's accent color - or any other color you want -->
    <meta-data android:name="com.dieam.reactnativepushnotification.notification_color" android:resource="@color/splashscreen_background"/>
    <!-- or @android:color/{name} to use a standard color -->

    <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationActions" />
    <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" />
    <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
      </intent-filter>
    </receiver>

    <meta-data android:name="expo.modules.updates.EXPO_UPDATE_URL" android:value="YOUR-APP-URL-HERE"/>
    <meta-data android:name="expo.modules.updates.EXPO_SDK_VERSION" android:value="YOUR-APP-SDK-VERSION-HERE"/>
    <activity android:name=".MainActivity" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.App.SplashScreen" android:screenOrientation="portrait" android:exported="true"> <!-- android:exported="true" Added by us for splash screen -->
      
      <!-- Removed by us for splash screen -->
      <!-- <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter> -->
      <!-- Removed by us for splash screen -->

    </activity>

    <!-- Added by us for splash screen -->
    <!-- add the following lines (use the theme you created at step 2) -->
    <activity
      android:name="com.zoontek.rnbootsplash.RNBootSplashActivity"
      android:theme="@style/BootTheme"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <!-- Added by us for splash screen -->

    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>
  </application>
</manifest>
